{% extends 'base.html' %}

{% block title %} {{user.first_name}} {{user.last_name}} {% endblock %}

{% block content %}

    {% if user.image_url %}
      <img src="{{ user.image_url }}" width="360px" height="360px" alt="{{ user.first_name }} {{ user.last_name }}">
    {% endif %}
  
    <h1>{{user.first_name}} {{user.last_name}}</h1>
  
    <form>
        <button formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>
        <button formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
    </form>

{% endblock %}